.menuCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 60px;
  margin: 70px 0;
}

.menuCard img {
  height: 390px;
  width: 390px;
}

.menuCard p {
  margin-top: -100px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 28px;
  color: #3f3a3a;
}
