@font-face {
  font-family: AirbnbCereal;
  src: url('../../assets/font/AirbnbCereal_W_Md.otf');
}

#profileStyle {
  font-family: AirbnbCereal;
}
#addRecStyle {
  font-family: AirbnbCereal;
}
@media (max-width: 575.98px) {
  button.nav-link {
    font-size: 12px;
  }
}
