@font-face {
    font-family: AirbnbCereal;
    src: url('../../assets/font/AirbnbCereal_W_Md.otf');
}

html,body{
    background-color: #FFF5EC;
    font-family: AirbnbCereal;
}
.sec{
    height: 100vh;
    overflow: hidden;
}

.h{
    color: #2E266F;
    font-size: 55px;
    font-weight: 650;
}
.header1{
    margin-top: 150px;
}
.put{
    width: 370px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
}
.nput{
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    margin-left: 20px;
}

.photoawal{
    width: 100%;
}
.box{
    margin-top: 65px;
    width: 450px;
    margin-left: 100px;
    position: relative;
}
.box::after{
    content:"" ;
    width: 400px;
    background-color: #EFC81A;
    position: absolute;
}

.hd5{
    font-family: AirbnbCereal;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 20px;
    color: #2E266F;
}
.slice{
    width: 10px;
    background-color: #EFC81A;
    height: 80px;
}
.wrap{
    width: 300px;
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
}
.wrapp{
    width: 300px;
    margin-left: 15px;
    margin-top: 10px;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
}
.on{
    width: 100%;
}
.title{
    width: 109px;
    font-size: 23px;
    font-family: AirbnbCereal;
    color: #fff;
    position: absolute;
    
    left: 20px;
    bottom: 22px;
}
.ont{
    width: 100%;
}
.n{
    width: 150px;
    margin-left: 8px;
}
.frs{
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
.scn{
    width: 300px;
    height: 400px;
    background-color: #EFC81A;
    margin-top: 50px;
}
.thr{
    width: 400px;
    height: 500px;
    margin-top: 40px;
}
.bgr{
    width: 400px;
    margin-left: 100px;
    margin-top: 70px;
    height: auto;
}
.wrapper{
    width: 310px;
    margin-top: 200px;
    margin-left: 100px;
}
.hlth{
    font-family: AirbnbCereal;
    color: #3F3A3A;

}
.line{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px;
    height: 2px;
    background-color: #6F6A40;
}
.p{
    font-family: AirbnbCereal;
    color: #3F3A3A;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: #EFC81A;
    margin-top: 30px;
    border-radius: 3px;
}
.buttn{
    border: none;
    background-color: #EFC81A;
    width: 100%;
    margin-top: 5px;
    color: #fff;
    font-family: AirbnbCereal;
    font-size: 10px;
}
.wrappe1{
    width: 247px;
    position: relative;
    margin-right: 100px;
}
.wrappe2{
    width: 247px;
    position: relative;
    margin-left: 70px;
}
.wrappe3{
    margin-left: 118px;
    width: 247px;
    position: relative;
}
.product{
width: 100%;
}
.titles{
    color: #3F3A3A;
    font-family: AirbnbCereal;
    font-size: 15px;
    width: 84px;
    position: absolute;

    left: 20px;
    bottom: 20px;
}
.titless{
    color: #3F3A3A;
    font-family: AirbnbCereal;
    font-size: 15px;
    width: 90px;
    position: absolute;

    left: 20px;
    bottom: 20px;
}
.products{
    width: 247px;
    margin-top: 40px;
}